* {
    margin: 0;
    padding: 0;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}



.form-elements {
   

}

#container {
    display: flex;
    height: 100vh;
    width: 100vw;

}

#form {

    height:50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 5rem;
    
}

#character-sheet {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;


}

#charname-div {

    height: 10vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;



}

/* 
#selected-gender{

    background-color: blueviolet;
    height: 5rem;
} */
.values {

    display: flex;
    justify-content: center;
    align-items: center;


}
#selected-gender{
    height: 5rem;

}

#selected-race{
    height: 20rem;

}
.race-images{

    visibility: hidden;
    height: 250px;
    position: absolute;
}

#class-div{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.class-images{

    visibility:hidden;
    position: absolute;

}